*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: hsl(233deg, 47%, 7%);
  color: hsla(0deg, 0%, 100%, 0.6);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  margin: 1.6em;
  max-width: 327px;
  min-width: 327px;
  min-height: 780px;
  background: hsl(244deg, 38%, 16%);
  border-radius: 8px;
  overflow: hidden;
}
.card__img {
  position: relative;
  background-image: url(../images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  min-width: 327px;
  min-height: 240px;
}
.card__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(280deg, 93%, 32%);
  opacity: 0.5;
}
.card__text {
  text-align: center;
}
.card__headline {
  margin: 1.9em auto 0.9em;
  max-width: 70%;
  color: hsl(0deg, 0%, 100%);
  font-size: 2.25rem;
  line-height: 1.4;
}
.card__headline--accent {
  color: hsl(277deg, 64%, 61%);
}
.card__description {
  margin-bottom: 3.1em;
  padding: 0 2.3em;
  line-height: 1.8;
}
.card__info {
  margin-bottom: 2.9em;
  text-transform: uppercase;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.card__info--quantity {
  display: block;
  margin: 0.3em 0;
  color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
}
.card__info:last-child {
  margin-bottom: 3.1em;
}

.footer {
  padding: 1.2em 1em;
  height: 25px;
}
.footer__attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.1rem;
  font-weight: normal;
}
.footer__link {
  color: hsla(0deg, 0%, 100%, 0.75);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__link:hover {
  color: hsl(277deg, 64%, 61%);
}

@media (min-width: 576px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    min-height: 700px;
  }
  .card__img {
    min-height: 340px;
    max-width: 100%;
  }
  .card__text {
    margin: 4em 2em 3.5em 3.7em;
    text-align: left;
  }
  .card__headline {
    margin: 0;
    margin-bottom: 1em;
    max-width: 75%;
    font-size: 3.2rem;
  }
  .card__description {
    margin-bottom: 5em;
    padding: 0;
    max-width: 80%;
    font-size: 1.4rem;
  }
  .card__info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3.8em;
  }
}
@media (min-width: 768px) {
  .wrapper {
    height: 100vh;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 700px;
    max-width: 700px;
    min-height: 780px;
  }
  .card__img {
    min-height: 360px;
    max-width: 100%;
  }
  .card__text {
    margin: 5em 3em 4.5em 4.7em;
    text-align: left;
  }
  .card__headline {
    margin: 0;
    margin-bottom: 1em;
    max-width: 65%;
    font-size: 3.2rem;
  }
  .card__description {
    margin-bottom: 5em;
    padding: 0;
    max-width: 80%;
    font-size: 1.4rem;
  }
  .card__info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3.8em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    margin: 0.8em 0.8em;
  }
}
@media (min-width: 992px) {
  .wrapper {
    height: 100vh;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 900px;
    max-width: 950px;
    min-height: 446px;
    max-height: 446px;
  }
  .card__img {
    min-width: 50%;
    max-width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card__text {
    margin: 4em 2em 3.5em 3.7em;
    text-align: left;
  }
  .card__headline {
    margin: 0;
    margin-bottom: 1em;
    max-width: 85%;
    font-size: 3.2rem;
  }
  .card__description {
    margin-bottom: 2.7em;
    padding: 0;
    max-width: 80%;
    font-size: 1.4rem;
  }
  .card__info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 2.8em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    margin: 0.8em 0.8em;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    height: 100vh;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 1109px;
    max-width: 1109px;
    min-height: 446px;
    max-height: 446px;
  }
  .card__img {
    min-width: 50%;
    max-width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card__text {
    margin: 5em 3em 4.5em 4.7em;
    text-align: left;
  }
  .card__headline {
    margin: 0;
    margin-bottom: 1em;
    max-width: 85%;
    font-size: 3.2rem;
  }
  .card__description {
    margin-bottom: 5em;
    padding: 0;
    max-width: 80%;
    font-size: 1.4rem;
  }
  .card__info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3.8em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    margin: 0.8em 0.8em;
  }
}/*# sourceMappingURL=style.css.map */