*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: #090b1a;
  color: rgba(255, 255, 255, 0.6);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  margin: 1.6em;
  max-width: 327px;
  min-width: 327px;
  min-height: 780px;
  background: #1b1938;
  border-radius: 8px;
  overflow: hidden;
}
.card__img {
  position: relative;
  background-image: url(../images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  min-width: 327px;
  min-height: 240px;
}
.card__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6b069d;
  opacity: 0.5;
}
.card__text {
  text-align: center;
}
.card__headline {
  margin: 1.9em auto 0.9em;
  max-width: 70%;
  color: white;
  font-size: 2.25rem;
  line-height: 1.4;
}
.card__headline--accent {
  color: #aa5cdb;
}
.card__description {
  margin-bottom: 3.1em;
  padding: 0 2.3em;
  line-height: 1.8;
}
.card__info {
  margin-bottom: 2.9em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.card__info--quantity {
  display: block;
  margin: 0.3em 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
}
.card__info:last-child {
  margin-bottom: 3.1em;
}

.footer {
  padding: 1.2em 1em;
  height: 25px;
}
.footer__attribution {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
}
.footer__link {
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #aa5cdb;
}

@media (min-width: 992px) {
  .wrapper {
    height: 100vh;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 1109px;
    max-width: 1109px;
    min-height: 446px;
    max-height: 446px;
  }
  .card__img {
    min-width: 50%;
    max-width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card__text {
    margin: 5em 3em 4.5em 4.7em;
    text-align: left;
  }
  .card__headline {
    margin: 0;
    margin-bottom: 1em;
    max-width: 85%;
    font-size: 3rem;
  }
  .card__description {
    margin-bottom: 5em;
    padding: 0;
    max-width: 80%;
    font-size: 1.4rem;
  }
  .card__info {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 3.8em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    margin: 0.8em 0.8em;
  }
}/*# sourceMappingURL=style.css.map */