@media (min-width: 768px) {
	.wrapper {
		height: 100vh;
	}

	.card {
		display: flex;
		flex-direction: column;
		min-width: 700px;
		max-width: 700px;
		min-height: 780px;

		&__img {
			min-height: 360px;
			max-width: 100%;
		}

		&__text {
			margin: 5em 3em 4.5em 4.7em;
			text-align: left;
		}

		&__headline {
			margin: 0;
			margin-bottom: 1em;
			max-width: 65%;
			font-size: 3.2rem;
		}

		&__description {
			margin-bottom: 5em;
			padding: 0;
			max-width: 80%;
			font-size: 1.4rem;
		}

		&__info {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 3.8em;
		}
	}

	.footer {
		position: fixed;
		bottom: 0;
		margin: 0.8em 0.8em;
	}
}
