@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	background-color: $main-background;
	color: $stat-heading;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	margin: 1.7em 1.7em;
	max-width: 325px;
	min-width: 325px;
	min-height: 780px;
	background: $card-background;
	border-radius: 8px;
	overflow: hidden;

	&__img {
		position: relative;
		background-image: url(../images/image-header-mobile.jpg);
		background-position: center;
		background-size: cover;
		min-width: 325px;
		min-height: 240px;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $image-accent;
			opacity: 0.5;
		}
	}

	&__text {
		text-align: center;
	}

	&__headline {
		margin: 1.7em auto 0.8em;
		max-width: 80%;
		color: $white;
		font-size: 2.5rem;
		line-height: 1.3;
		&-accent {
			color: $accent;
		}
	}

	&__description {
		margin-bottom: 3.1em;
		padding: 0 2.3em;
		line-height: 1.7;
	}

	&__info {
		margin-bottom: 2.2em;
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 0.2rem;

		&-quantity {
			display: block;
			margin: 0.4em 0;
			color: $white;
			font-size: 2.1rem;
			font-weight: 700;
		}
	}
}

.footer {
	padding: 1.2em 1em;
	height: 25px;

	&__attribution {
		color: $white;
		font-size: 1.1rem;
		font-weight: normal;
	}
}
